.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  --background: url('/assets/back.jpg') no-repeat center center / cover; /* Background image */
}

.login-card {
  width: 95%;
  max-width: 400px;
  padding: 40px;
  border-radius: 70px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

.input-item {
  margin-bottom: 40px;
  --background: transparent; /* Transparent input background */
  --border-width: 0px; /* Remove border */
}

.ion-label {
  color: #6a11cb; /* Lilac color */
  font-weight: bold;
  background-color: transparent; /* Transparent label background */
}

.ion-input {
  color: #333; /* Text color */
  background-color: transparent; /* Transparent input background */
  --padding-start: 0; /* Remove padding */
  --padding-end: 0;
}

/* Lilac and white button styles */
.login-button {
  border-color: #6c4987; /* Lilac border color */
  color: #c8a2c8; /* Lilac text color */
  font-weight: bold;
  margin-bottom: 15px;
}

.signup-button {
  border-color: #c8a2c8; /* Lilac border color */
  color: #c8a2c8; /* Lilac text color */
  font-weight: bold;
  margin-bottom: 15px;
}

.social-button {
  color: #6c4987; /* Lilac text color */
  border: 1px solid #6c4987; /* Lilac border color */
  font-weight: bold;
  margin-bottom: 20px;
}

.forgot-password {
  text-align: center;
  display: block;
  margin-top: 10px;
  color: #6c4987;
  font-weight: bold;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}
