.user-home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  --background: url('/assets/back.jpg') no-repeat center center / cover; /* Background image */
  background-color: transparent; /* Ensure the background color is transparent */
}

.welcome-card {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  background: transparent; /* Lilac gradient */
  color: #120d0d; /* White text */
}

.action-button {
  margin-top: 15px;
  padding: 14px;
  border-radius: 25px;
  background: transparent; /* Lilac gradient */
  color: #0c0a0a; 
  border: none;
  font-size: 16px;
}

.action-button:hover {
  transform: translateY(-2px);
  background: linear-gradient(135deg, #5a3a73, #ab88ab); /* Darker lilac on hover */
}

ion-button {
  margin-top: 10px;
}

ion-icon {
  color: #110e0e; /* White icons */
}
